<section id="catalog" class="catalog">
  <div class="container">
    <h2 class="catalog-title">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-card">
        <a class="catalog-card-link" href="javascript:void">
          <div class="catalog-wrap">
            <div class="catalog-card-front">
              <svg class="catalog-like" width="24px" height="24px">
                <use href="./img/sprite.svg#heart"></use>
              </svg>
              <img
                src="./img/catalog-1tube.png"
                class="catalog-img"
                srcset="./img/catalog-1tube@2x.png 2x"
                alt="Tube Watch"
                width="275"
                height="274"
              />
            </div>

            <div class="catalog-card-back">
              <h4 class="catalog-card-back-point">DESCRIPTION</h4>
              <p class="catalog-card-back-text">
                Richly detailed with an understated design - the Police Men's
                Greenlane watch.
              </p>
              <h4 class="catalog-card-back-point">DETAILS &#38; FEATUREStion</h4>
              <p class="catalog-card-back-text">
                Gender: man <br />
                Size: 46x54.5mm <br />
                Case Colour: Steel <br />
                Band Material: Metal <br />
                Case Material: Metal <br />
                Features: Multifunction <br />
                Water Resistant: 5 (ATM) <br />
                Band Colour: Steel
              </p>
            </div>
          </div>

          <h3 class="catalog-card-name">
            Tube Watch S42 Date Steel With Black Case
          </h3>
          <p class="catalog-card-prise">€395</p>
        </a>
      </li>

      <li class="catalog-card">
        <a class="catalog-card-link" href="javascript:void">
          <div class="catalog-wrap">
            <div class="catalog-card-front">
              <svg class="catalog-like" width="24px" height="24px">
                <use href="./img/sprite.svg#heart"></use>
              </svg>
              <img
                src="./img/catalog-2avondale.png"
                class="catalog-img"
                srcset="./img/catalog-2avondale@2x.png 2x"
                alt="Avondale Watch"
                width="275"
                height="274"
              />
            </div>

            <div class="catalog-card-back">
              <h4 class="catalog-card-back-point">DESCRIPTION</h4>
              <p class="catalog-card-back-text">
                Richly detailed with an understated design - the Police Men's
                Greenlane watch.
              </p>
              <h4 class="catalog-card-back-point">DETAILS &#38; FEATUREStion</h4>
              <p class="catalog-card-back-text">
                Gender: man <br />
                Size: 46x54.5mm <br />
                Case Colour: Steel <br />
                Band Material: Metal <br />
                Case Material: Metal <br />
                Features: Multifunction <br />
                Water Resistant: 5 (ATM) <br />
                Band Colour: Steel
              </p>
            </div>
          </div>

          <h3 class="catalog-card-name">Avondale Watch Police For Men</h3>
          <p class="catalog-card-prise">€800</p>
        </a>
      </li>

      <li class="catalog-card">
        <a class="catalog-card-link" href="javascript:void">
          <div class="catalog-wrap">
            <div class="catalog-card-front">
              <svg class="catalog-like" width="24px" height="24px">
                <use href="./img/sprite.svg#heart"></use>
              </svg>

              <img
                src="./img/catalog-3diver600.png"
                class="catalog-img"
                srcset="./img/catalog-3diver600@2x.png 2x"
                alt="Diver Watch"
                width="275"
                height="274"
              />
            </div>

            <div class="catalog-card-back">
              <h4 class="catalog-card-back-point">DESCRIPTION</h4>
              <p class="catalog-card-back-text">
                Richly detailed with an understated design - the Police Men's
                Greenlane watch.
              </p>
              <h4 class="catalog-card-back-point">DETAILS &#38; FEATUREStion</h4>
              <p class="catalog-card-back-text">
                Gender: man <br />
                Size: 46x54.5mm <br />
                Case Colour: Steel <br />
                Band Material: Metal <br />
                Case Material: Metal <br />
                Features: Multifunction <br />
                Water Resistant: 5 (ATM) <br />
                Band Colour: Steel
              </p>
            </div>
          </div>

          <h3 class="catalog-card-name">
            Diver 300M Co‑Axial Master Chronometer Chronograph
          </h3>
          <p class="catalog-card-prise">€600</p>
        </a>
      </li>

      <li class="catalog-card">
        <a class="catalog-card-link" href="javascript:void">
          <div class="catalog-wrap">
            <div class="catalog-card-front">
              <svg class="catalog-like" width="24px" height="24px">
                <use href="./img/sprite.svg#heart"></use>
              </svg>

              <img
                src="./img/catalog-4diver1400.png"
                class="catalog-img"
                srcset="./img/catalog-4diver1400@2x.png 2x"
                alt="Diver Watch"
                width="275"
                height="274"
              />
            </div>

            <div class="catalog-card-back">
              <h4 class="catalog-card-back-point">DESCRIPTION</h4>
              <p class="catalog-card-back-text">
                Richly detailed with an understated design - the Police Men's
                Greenlane watch.
              </p>
              <h4 class="catalog-card-back-point">DETAILS &#38; FEATUREStion</h4>
              <p class="catalog-card-back-text">
                Gender: man <br />
                Size: 46x54.5mm <br />
                Case Colour: Steel <br />
                Band Material: Metal <br />
                Case Material: Metal <br />
                Features: Multifunction <br />
                Water Resistant: 5 (ATM) <br />
                Band Colour: Steel
              </p>
            </div>
          </div>

          <h3 class="catalog-card-name">
            Diver 300M Co-Axial Master Chronometer
          </h3>
          <p class="catalog-card-prise">€1400</p>
        </a>
      </li>

      <li class="catalog-card">
        <a class="catalog-card-link" href="javascript:void">
          <div class="catalog-wrap">
            <div class="catalog-card-front">
              <svg class="catalog-like" width="24px" height="24px">
                <use href="./img/sprite.svg#heart"></use>
              </svg>

              <img
                src="./img/catalog-5taman.png"
                class="catalog-img"
                srcset="./img/catalog-5taman@2x.png 2x"
                alt="Taman Watch"
                width="275"
                height="274"
              />
            </div>

            <div class="catalog-card-back">
              <h4 class="catalog-card-back-point">DESCRIPTION</h4>
              <p class="catalog-card-back-text">
                Richly detailed with an understated design - the Police Men's
                Greenlane watch.
              </p>
              <h4 class="catalog-card-back-point">DETAILS &#38; FEATUREStion</h4>
              <p class="catalog-card-back-text">
                Gender: man <br />
                Size: 46x54.5mm <br />
                Case Colour: Steel <br />
                Band Material: Metal <br />
                Case Material: Metal <br />
                Features: Multifunction <br />
                Water Resistant: 5 (ATM) <br />
                Band Colour: Steel
              </p>
            </div>
          </div>

          <h3 class="catalog-card-name">Taman Watch By Police For Men</h3>
          <p class="catalog-card-prise">€500</p>
        </a>
      </li>

      <li class="catalog-card">
        <a class="catalog-card-link" href="javascript:void">
          <div class="catalog-wrap">
            <div class="catalog-card-front">
              <svg class="catalog-like" width="24px" height="24px">
                <use href="./img/sprite.svg#heart"></use>
              </svg>

              <img
                src="./img/catalog-6malawi.png"
                class="catalog-img"
                srcset="./img/catalog-6malawi@2x.png 2x"
                alt="Malawi Watch"
                width="275"
                height="274"
              />
            </div>

            <div class="catalog-card-back">
              <h4 class="catalog-card-back-point">DESCRIPTION</h4>
              <p class="catalog-card-back-text">
                Richly detailed with an understated design - the Police Men's
                Greenlane watch.
              </p>
              <h4 class="catalog-card-back-point">DETAILS &#38; FEATUREStion</h4>
              <p class="catalog-card-back-text">
                Gender: man <br />
                Size: 46x54.5mm <br />
                Case Colour: Steel <br />
                Band Material: Metal <br />
                Case Material: Metal <br />
                Features: Multifunction <br />
                Water Resistant: 5 (ATM) <br />
                Band Colour: Steel
              </p>
            </div>
          </div>

          <h3 class="catalog-card-name">Malawi Watch Police For Men</h3>
          <p class="catalog-card-prise">€555</p>
        </a>
      </li>

      <li class="catalog-card">
        <a class="catalog-card-link" href="javascript:void">
          <div class="catalog-wrap">
            <div class="catalog-card-front">
              <svg class="catalog-like" width="24px" height="24px">
                <use href="./img/sprite.svg#heart"></use>
              </svg>

              <img
                src="./img/catalog-7diver1200.png"
                class="catalog-img"
                srcset="./img/catalog-7diver12002x.png 2x"
                alt="Diver Watch"
                width="275"
                height="274"
              />
            </div>

            <div class="catalog-card-back">
              <h4 class="catalog-card-back-point">DESCRIPTION</h4>
              <p class="catalog-card-back-text">
                Richly detailed with an understated design - the Police Men's
                Greenlane watch.
              </p>
              <h4 class="catalog-card-back-point">DETAILS &#38; FEATUREStion</h4>
              <p class="catalog-card-back-text">
                Gender: man <br />
                Size: 46x54.5mm <br />
                Case Colour: Steel <br />
                Band Material: Metal <br />
                Case Material: Metal <br />
                Features: Multifunction <br />
                Water Resistant: 5 (ATM) <br />
                Band Colour: Steel
              </p>
            </div>
          </div>

          <h3 class="catalog-card-name">
            Diver 300M Co-Axial Master Chronometer
          </h3>
          <p class="catalog-card-prise">€1200</p>
        </a>
      </li>

      <li class="catalog-card">
        <a class="catalog-card-link" href="javascript:void">
          <div class="catalog-wrap">
            <div class="catalog-card-front">
              <svg class="catalog-like" width="24px" height="24px">
                <use href="./img/sprite.svg#heart"></use>
              </svg>

              <img
                src="./img/catalog-8greenlane.png"
                class="catalog-img"
                srcset="./img/catalog-8greenlane@2x.png 2x"
                alt="Greenlane Watch"
                width="275"
                height="274"
              />
            </div>

            <div class="catalog-card-back">
              <h4 class="catalog-card-back-point">DESCRIPTION</h4>
              <p class="catalog-card-back-text">
                Richly detailed with an understated design - the Police Men's
                Greenlane watch.
              </p>
              <h4 class="catalog-card-back-point">DETAILS &#38; FEATUREStion</h4>
              <p class="catalog-card-back-text">
                Gender: man <br />
                Size: 46x54.5mm <br />
                Case Colour: Steel <br />
                Band Material: Metal <br />
                Case Material: Metal <br />
                Features: Multifunction <br />
                Water Resistant: 5 (ATM) <br />
                Band Colour: Steel
              </p>
            </div>
          </div>

          <h3 class="catalog-card-name">Greenlane Watch By Police For Men</h3>
          <p class="catalog-card-prise">€1000</p>
        </a>
      </li>

      <li class="catalog-card">
        <a class="catalog-card-link" href="javascript:void">
          <div class="catalog-wrap">
            <div class="catalog-card-front">
              <svg class="catalog-like" width="24px" height="24px">
                <use href="../img/sprite.svg#heart"></use>
              </svg>
              <img
                src="./img/catalog-9squardrc.png"
                class="catalog-img"
                srcset="./img/catalog-9squardrc@2x.png 2x"
                alt=""
                width="275"
                height="274"
              />
            </div>

            <div class="catalog-card-back">
              <h4 class="catalog-card-back-point">DESCRIPTION</h4>
              <p class="catalog-card-back-text">
                Richly detailed with an understated design - the Police Men's
                Greenlane watch.
              </p>
              <h4 class="catalog-card-back-point">DETAILS &#38; FEATUREStion</h4>
              <p class="catalog-card-back-text">
                Gender: man <br />
                Size: 46x54.5mm <br />
                Case Colour: Steel <br />
                Band Material: Metal <br />
                Case Material: Metal <br />
                Features: Multifunction <br />
                Water Resistant: 5 (ATM) <br />
                Band Colour: Steel
              </p>
            </div>
          </div>

          <h3 class="catalog-card-name">Squardrc 5402 Chrono</h3>
          <p class="catalog-card-prise">€359</p>
        </a>
      </li>

      <li class="catalog-card">
        <a class="catalog-card-link" href="javascript:void">
          <div class="catalog-wrap">
            <div class="catalog-card-front">
              <svg class="catalog-like" width="24px" height="24px">
                <use href="../img/sprite.svg#heart"></use>
              </svg>
              <img
                src="./img/catalog-10diver400.png"
                class="catalog-img"
                srcset="./img/catalog-10diver400@2x.png 2x"
                alt="Diver Watch"
                width="275"
                height="274"
              />
            </div>

            <div class="catalog-card-back">
              <h4 class="catalog-card-back-point">DESCRIPTION</h4>
              <p class="catalog-card-back-text">
                Richly detailed with an understated design - the Police Men's
                Greenlane watch.
              </p>
              <h4 class="catalog-card-back-point">DETAILS &#38; FEATUREStion</h4>
              <p class="catalog-card-back-text">
                Gender: man <br />
                Size: 46x54.5mm <br />
                Case Colour: Steel <br />
                Band Material: Metal <br />
                Case Material: Metal <br />
                Features: Multifunction <br />
                Water Resistant: 5 (ATM) <br />
                Band Colour: Steel
              </p>
            </div>
          </div>

          <h3 class="catalog-card-name">
            Diver 300M Co‑Axial Master Chronometer Chronograph
          </h3>
          <p class="catalog-card-prise">€400</p>
        </a>
      </li>

      <li class="catalog-card">
        <a class="catalog-card-link" href="javascript:void">
          <div class="catalog-wrap">
            <div class="catalog-card-front">
              <svg class="catalog-like" width="24px" height="24px">
                <use href="../img/sprite.svg#heart"></use>
              </svg>
              <img
                src="./img/catalog-11citizen.png"
                class="catalog-img"
                srcset="./img/catalog-11citizen@2x.png 2x"
                alt="Citizen Watch"
                width="275"
                height="274"
              />
            </div>

            <div class="catalog-card-back">
              <h4 class="catalog-card-back-point">DESCRIPTION</h4>
              <p class="catalog-card-back-text">
                Richly detailed with an understated design - the Police Men's
                Greenlane watch.
              </p>
              <h4 class="catalog-card-back-point">DETAILS &#38; FEATUREStion</h4>
              <p class="catalog-card-back-text">
                Gender: man <br />
                Size: 46x54.5mm <br />
                Case Colour: Steel <br />
                Band Material: Metal <br />
                Case Material: Metal <br />
                Features: Multifunction <br />
                Water Resistant: 5 (ATM) <br />
                Band Colour: Steel
              </p>
            </div>
          </div>

          <h3 class="catalog-card-name">Citizen</h3>
          <p class="catalog-card-prise">€519</p>
        </a>
      </li>

      <li class="catalog-card">
        <a class="catalog-card-link" href="javascript:void">
          <div class="catalog-wrap">
            <div class="catalog-card-front">
              <svg class="catalog-like" width="24px" height="24px">
                <use href="../img/sprite.svg#heart"></use>
              </svg>
              <img
                src="./img/catalog-12armani.png"
                class="catalog-img"
                srcset="./img/catalog-12armani@2x.png 2x"
                alt="Armani Watch"
                width="275"
                height="274"
              />
            </div>

            <div class="catalog-card-back">
              <h4 class="catalog-card-back-point">DESCRIPTION</h4>
              <p class="catalog-card-back-text">
                Richly detailed with an understated design - the Police Men's
                Greenlane watch.
              </p>
              <h4 class="catalog-card-back-point">DETAILS &#38; FEATUREStion</h4>
              <p class="catalog-card-back-text">
                Gender: man <br />
                Size: 46x54.5mm <br />
                Case Colour: Steel <br />
                Band Material: Metal <br />
                Case Material: Metal <br />
                Features: Multifunction <br />
                Water Resistant: 5 (ATM) <br />
                Band Colour: Steel
              </p>
            </div>
          </div>

          <h3 class="catalog-card-name">Armani Exchange</h3>
          <p class="catalog-card-prise">€400</p>
        </a>
      </li>
    </ul>

    <button type="button" class="catalog-btn" data-modal-open>BUY NOW</button>
  </div>
</section>
