<section class="catalog">
    <div class="container">
        <h2 class="catalog-title">Catalog</h2>
        <ul class="catalog-list">
            <li class="catalog-card">
                <div class="catalog-wrap">
                    <div class="catalog-card-front">
                        <img src="../img/catalog/1tube.png" class="catalog-img"
                        alt="" width="275" height="274" >
                    </div>

                    <div class="catalog-card-back">
                        <p class="catalog-card-back-text"></p>
                    </div>
                </div>

                <h3 class="catalog-card-name">Tube Watch S42 Date Steel With Black Case</h3>
                <p class="catalog-card-prise">€395</p>
            </li>

            <li class="catalog-card">
                <div class="catalog-wrap">
                    <div class="catalog-card-front">
                        <img src="../img/catalog/2avondale.png" alt="" class="catalog-img"
                        >
                    </div>
            
                    <div class="catalog-card-back">
                        <p class="catalog-card-back-text"></p>
                    </div>
                </div>
            
                <h3 class="catalog-card-name">Avondale Watch Police For Men</h3>
                <p class="catalog-card-prise">€800</p>
            </li>

            <li class="catalog-card">
                <div class="catalog-wrap">
                    <div class="catalog-card-front">
                        <img src="../img/catalog/3diver600.png" alt="" class="catalog-img">
                    </div>
            
                    <div class="catalog-card-back">
                        <p class="catalog-card-back-text"></p>
                    </div>
                </div>
            
                <h3 class="catalog-card-name">Diver 300M Co‑Axial Master Chronometer Chronograph</h3>
                <p class="catalog-card-prise">€600</p>
            </li>

            <li class="catalog-card">
                <div class="catalog-wrap">
                    <div class="catalog-card-front">
                        <img src="../img/catalog/4diver1400.png" alt="" class="catalog-img">
                    </div>
            
                    <div class="catalog-card-back">
                        <p class="catalog-card-back-text"></p>
                    </div>
                </div>
            
                <h3 class="catalog-card-name">Diver 300M Co-Axial Master Chronometer</h3>
                <p class="catalog-card-prise">€1400</p>
            </li>

            <li class="catalog-card">
                <div class="catalog-wrap">
                    <div class="catalog-card-front">
                        <img src="../img/catalog/5taman.png" alt="" class="catalog-img">
                    </div>
            
                    <div class="catalog-card-back">
                        <p class="catalog-card-back-text"></p>
                    </div>
                </div>
            
                <h3 class="catalog-card-name">Taman Watch By Police For Men</h3>
                <p class="catalog-card-prise">€500</p>
            </li>

            <li class="catalog-card">
                <div class="catalog-wrap">
                    <div class="catalog-card-front">
                        <img src="../img/catalog/6malawi.png" alt="" class="catalog-img">
                    </div>
            
                    <div class="catalog-card-back">
                        <p class="catalog-card-back-text"></p>
                    </div>
                </div>
            
                <h3 class="catalog-card-name">Malawi Watch Police For Men</h3>
                <p class="catalog-card-prise">€555</p>
            </li>

            <li class="catalog-card">
                <div class="catalog-wrap">
                    <div class="catalog-card-front">
                        <img src="../img/catalog/7diver1200.png" alt="" class="catalog-img">
                    </div>
            
                    <div class="catalog-card-back">
                        <p class="catalog-card-back-text"></p>
                    </div>
                </div>
            
                <h3 class="catalog-card-name">Diver 300M Co-Axial Master Chronometer</h3>
                <p class="catalog-card-prise">€1200</p>
            </li>

            <li class="catalog-card">
                <div class="catalog-wrap">
                    <div class="catalog-card-front">
                        <img src="../img/catalog/8greenlane.png" alt="" class="catalog-img">
                    </div>
            
                    <div class="catalog-card-back">
                        <p class="catalog-card-back-text"></p>
                    </div>
                </div>
            
                <h3 class="catalog-card-name">Greenlane Watch By Police For Men</h3>
                <p class="catalog-card-prise">€1000</p>
            </li>

            <li class="catalog-card">
                <div class="catalog-wrap">
                    <div class="catalog-card-front">
                        <img src="../img/catalog/9squardrc.png" alt="" class="catalog-img">
                    </div>
            
                    <div class="catalog-card-back">
                        <p class="catalog-card-back-text"></p>
                    </div>
                </div>
            
                <h3 class="catalog-card-name">Squardrc 5402 Chrono</h3>
                <p class="catalog-card-prise">€359</p>
            </li>

            <li class="catalog-card">
                <div class="catalog-wrap">
                    <div class="catalog-card-front">
                        <img src="../img/catalog/10diver400.png" alt="" class="catalog-img">
                    </div>
            
                    <div class="catalog-card-back">
                        <p class="catalog-card-back-text"></p>
                    </div>
                </div>
            
                <h3 class="catalog-card-name">Diver 300M Co‑Axial Master Chronometer Chronograph</h3>
                <p class="catalog-card-prise">€400</p>
            </li>

            <li class="catalog-card">
                <div class="catalog-wrap">
                    <div class="catalog-card-front">
                        <img src="../img/catalog/11citizen.png" alt="" class="catalog-img">
                    </div>
            
                    <div class="catalog-card-back">
                        <h4 class="catalog-card-back-point">DESCRIPTION</h4>
                        <p class="catalog-card-back-text">Richly detailed with an understated design - the Police Men's Greenlane watch.</p>
                        <h4 class="catalog-card-back-point">DETAILS & FEATUREStion</h4>
                        <p>Gender: man <br>
                        Size: 46x54.5mm <br>
                        Case Colour: Steel <br>
                        Band Material: Metal <br>
                        Case Material: Metal <br>
                        Features: Multifunction <br>
                        Water Resistant: 5 (ATM) <br>
                        Band Colour: Steel</p>
                    </div>
                </div>
            
                <h3 class="catalog-card-name">Citizen</h3>
                <p class="catalog-card-prise">€519</p>
            </li>

            <li class="catalog-card">
                <div class="catalog-wrap">
                    <div class="catalog-card-front">
                        <img src="../img/catalog/12armani.png" alt="" class="catalog-img">
                    </div>
            
                    <div class="catalog-card-back">
                        <p class="catalog-card-back-text"></p>
                    </div>
                </div>
            
                <h3 class="catalog-card-name">Armani Exchange</h3>
                <p class="catalog-card-prise">€400</p>
            </li>

        </ul>

        <button type="button" class="catalog-btn">BUY NOW</button>
    </div>
</section>