<footer>
  <section class="footer">
    <div class="container">
      <div class="footer-flex-wrap">
        <div>
          <a href="../index.html" class="footer-logo">
            <img
              src="./img/footer-logo.svg"
              alt="premium watches logo"
              class="footer-logo"
            />
          </a>
          
          <address class="footer-address">
            <a href="tel:+380684439426" class="footer-tel">+380 (68) 443-94-26</a>
            <a
              href="https://www.google.com/maps/place/1678+Pioneer+Rd,+Salt+Lake+City,+UT+84104,+%D0%A1%D0%BF%D0%BE%D0%BB%D1%83%D1%87%D0%B5%D0%BD%D1%96+%D0%A8%D1%82%D0%B0%D1%82%D0%B8+%D0%90%D0%BC%D0%B5%D1%80%D0%B8%D0%BA%D0%B8/@40.7335892,-111.9626616,17z/data=!3m1!4b1!4m6!3m5!1s0x8752f35b0826d399:0x2b26230524fd3ca3!8m2!3d40.7335892!4d-111.9600867!16s%2Fg%2F11bw41vm_p?hl=uk-UK"
              target="_blank"
              rel="noreferrer noopener nofollow"
              class="footer-map"
              >1678 S. Pioneer Road Salt Lake City UT 84104</a
            >
          </address>
        </div>

        <nav class="footer-nav">
          <ul class="footer-nav-list">
            <li class="footer-nav-item">
              <a class="footer-nav-link" href="#about">About Us</a>
            </li>
            <li class="footer-nav-item">
              <a class="footer-nav-link" href="#catalog">Catalog</a>
            </li>
            <li class="footer-nav-item">
              <a class="footer-nav-link" href="#sale">Sale</a>
            </li>
          </ul>
        </nav>

        <ul class="footer-soc-list">
          <li class="footer-soc-item">
            <a
              href="https://uk-ua.facebook.com/"
              class="footer-soc-link"
              target="_blank"
              rel="noreferrer noopener nofollow"
            >
              <svg class="footer-soc-svg">
                <use href="../img/sprite.svg#icon-footer-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer-soc-item">
            <a
              href="https://www.instagram.com/"
              class="footer-soc-link"
              target="_blank"
              rel="noreferrer noopener nofollow"
            >
              <svg class="footer-soc-svg">
                <use href="../img/sprite.svg#icon-footer-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-soc-item">
            <a
              href="https://www.youtube.com/watch?v=EllKG-8OsCM"
              class="footer-soc-link"
              target="_blank"
              rel="noreferrer noopener nofollow"
            >
              <svg class="footer-soc-svg">
                <use href="../img/sprite.svg#icon-footer-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <p class="footer-copyright footer-text">
        &#169; 2022 The Watch Spot. All rights reserved.
      </p>
      <div class="footer-text-wrap">
        <p class="footer-policy footer-text">Privacy Policy</p>
        <p class="footer-service footer-text">Terms of Service</p>
      </div>
    </div>
  </section>
</footer>

<!-- <footer>
  <section class="footer">
    <div class="container">
      
      <div class="footer-flex-wrap">
        
        <div class="footer-flex-address">
          <a href="../index.html" class="footer-logo">
            <img
              src="./img/footer-logo.svg"
              alt="premium watches logo"
              class="footer-logo-img"
              width="40px"
              height="40px"
            />
          </a>

          <address footer-address>
            <a href="tel:+380684439426" class="footer-tel"
              >+380 (68) 443-94-26</a
            >
            <a
              href="https://www.google.com/maps/place/1678+Pioneer+Rd,+Salt+Lake+City,+UT+84104,+%D0%A1%D0%BF%D0%BE%D0%BB%D1%83%D1%87%D0%B5%D0%BD%D1%96+%D0%A8%D1%82%D0%B0%D1%82%D0%B8+%D0%90%D0%BC%D0%B5%D1%80%D0%B8%D0%BA%D0%B8/@40.7335892,-111.9626616,17z/data=!3m1!4b1!4m6!3m5!1s0x8752f35b0826d399:0x2b26230524fd3ca3!8m2!3d40.7335892!4d-111.9600867!16s%2Fg%2F11bw41vm_p?hl=uk-UK"
              target="_blank"
              rel="noreferrer noopener nofollow"
              class="footer-map"
              >1678 S. Pioneer Road Salt Lake City UT 84104</a
            >
          </address>
        </div>

        
        <nav footer-nav>
          <ul footer-nav-list>
            <li class="footer-nav-item"><a href="#about">About Us</a></li>
            <li class="footer-nav-item"><a href="#catalog">Catalog</a></li>
            <li class="footer-nav-item"><a href="#sale">Sale</a></li>
          </ul>
        </nav>

        
        <ul class="footer-soc-list">
          <li class="footer-soc-item">
            <a
              href="https://uk-ua.facebook.com/"
              class="footer-soc-link"
              target="_blank"
              rel="noreferrer noopener nofollow"
            >
              <svg class="footer-soc-svg" width="24px" height="24px">
                <use href="../img/footer-icons.svg#icon-footer-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer-soc-item">
            <a
              href="https://www.instagram.com/"
              class="footer-soc-link"
              target="_blank"
              rel="noreferrer noopener nofollow"
            >
              <svg class="footer-soc-svg" width="24px" height="24px">
                <use href="../img/footer-icons.svg#icon-footer-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-soc-item">
            <a
              href="https://www.youtube.com/watch?v=EllKG-8OsCM"
              class="footer-soc-link"
              target="_blank"
              rel="noreferrer noopener nofollow"
            >
              <svg class="footer-soc-svg" width="24px" height="24px">
                <use href="../img/footer-icons.svg#icon-footer-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      
      <div class="footer-flex-policy">
        <p class="footer-little-text">
          &#169; 2022 The Watch Spot. All rights reserved.
        </p>

        <div class="footer-add-wrap">
          <p class="footer-little-text">Privacy Policy</p>
          <p class="footer-little-text">Terms of Service</p>
        </div>
      </div>
    </div>
  </section>
</footer> -->
