<section class="hero-section">
    <div class="container hero-container">
        <h1 class="hero-title">Welcome to our collection of premium watches</h1>
        <!-- Slider -->
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide slide">
                    <picture>
                        <source srcset="./img/Slider_desc1.jpg 1x, ./img/Slider_desc1@2x.jpg 2x"
                            media="(min-width: 1176px)" />
                        <source srcset="./img/Slider_tab1.jpg 1x, ./img/Slider_tab1@2x.jpg 2x"
                            media="(min-width: 768px)" />
                        <source srcset="./img/Slider_mob1.jpg 1x, ./img/Slider_mob1@2x.jpg 2x"
                            media="(min-width: 320px)" />
                        <img src="./img/Slider_desc1.jpg" alt="watch">
                    </picture>
                </div>
                <div class="swiper-slide">
                    <picture>
                        <source srcset="./img/Slider_desc2.jpg 1x, ./img/Slider_desc2@2x.jpg 2x"
                            media="(min-width: 1176px)" />
                        <source srcset="./img/Slider_tab2.jpg 1x, ./img/Slider_tab2@2x.jpg 2x"
                            media="(min-width: 768px)" />
                        <source srcset="./img/Slider_mob2.jpg 1x, ./img/Slider_mob2@2x.jpg 2x"
                            media="(min-width: 320px)" />
                        <img src="./img/Slider_desc2.jpg" alt="watch">
                    </picture>
                </div>
                <div class="swiper-slide">
                    <picture>
                        <source srcset="./img/Slider_desc3.jpg 1x, ./img/Slider_desc3@2x.jpg 2x"
                            media="(min-width: 1176px)" />
                        <source srcset="./img/Slider_tab3.jpg 1x, ./img/Slider_tab3@2x.jpg 2x"
                            media="(min-width: 768px)" />
                        <source srcset="./img/Slider_mob3.jpg 1x, ./img/Slider_mob3@2x.jpg 2x"
                            media="(min-width: 320px)" />
                        <img src="./img/Slider_desc3.jpg" alt="watch">
                    </picture>
                </div>
                <div class="swiper-slide">
                    <picture>
                        <source srcset="./img/Slider_desc4.jpg 1x, ./img/Slider_desc4@2x.jpg 2x"
                            media="(min-width: 1176px)" />
                        <source srcset="./img/Slider_tab4.jpg 1x, ./img/Slider_tab4@2x.jpg 2x"
                            media="(min-width: 768px)" />
                        <source srcset="./img/Slider_mob4.jpg 1x, ./img/Slider_mob4@2x.jpg 2x"
                            media="(min-width: 320px)" />
                        <img src="./img/Slider_desc4.jpg" alt="watch">
                    </picture>
                </div>
                <div class="swiper-slide">
                    <picture>
                        <source srcset="./img/Slider_desc5.jpg 1x, ./img/Slider_desc5@2x.jpg 2x"
                            media="(min-width: 1176px)" />
                        <source srcset="./img/Slider_tab5.jpg 1x, ./img/Slider_tab5@2x.jpg 2x"
                            media="(min-width: 768px)" />
                        <source srcset="./img/Slider_mob5.jpg 1x, ./img/Slider_mob5@2x.jpg 2x"
                            media="(min-width: 320px)" />
                        <img src="./img/Slider_desc5.jpg" alt="watch">
                    </picture>
                </div>
            </div>
            <!-- Slider buttons -->
            <div class="swiper-navigation">
                <div class="swiper-nav-buttons">
                    <button type="button" class="button-prev"><svg class="button-icon-prev" width="18" height="18">
                            <use href="./img/sprite-slider.svg#icon-prev"></use>
                        </svg></button>
                    <button type="button" class="button-next"><svg class="button-icon-next" width="18" height="18">
                            <use href="./img/sprite-slider.svg#icon-next"></use>
                        </svg></button>
                </div>
                <div class="swiper-nav-pagination">
                    <p class="pagination-start">01</p>
                    <p class="pagination-end">05</p>
                </div>
            </div>
        </div>
        <p class="hero-text">
            Our watches are not just timepieces, but also an expression of your
            personality and lifestyle. From classic designs to modern ones, we have a
            watch to suit every taste and occasion.
        </p>
        <div class="hero-image">
            <picture class="hero-picture">
                <source srcset="./img/hero_img_desc.jpg     676w, ./img/hero_img_desc@2x.jpg 1352w " type="image/jpeg"
                    media="(min-width: 1280px)" sizes="(min-width: 1280px) 676px, 100vw" />
                <source srcset="./img/hero_img_mob.jpg 335w, ./img/hero_img_mob@2x.jpg 670w " type="image/jpeg"
                    media="(max-width: 767px)" sizes="(max-width: 767px) 335px, 100vw" />
                <source srcset="./img/hero_img_tab.jpg 704w, ./img/hero_img_tab@2x.jpg 1408w " type="image/jpeg"
                    media="(min-width: 768px)" sizes="(min-width: 768px) 704px, 100vw" />
                <img src="./img/hero_img_desc.jpg" alt="Hand watch" />
            </picture>
        </div>
    </div>
</section>
<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<!-- Initialize Swiper -->
<script>
    const swiper = new Swiper(".mySwiper", {
        slidesPerView: 1,
        spaceBetween: 10,
        loop: true,
        keyboard: { enabled: true, },
        navigation: {
            nextEl: ".button-next",
            prevEl: ".button-prev",
        },
    });
</script>
