<section class="new-watches">
  <div class="container">
    <h2 class="new-watches-title">New watches</h2>
    <h3 class="new-watches-subtitle">
      Green And Bronze—The Match Made In Heaven
    </h3>
    <ul>
      <li>
        <picture>
          <source
            srcset="
              ./img/newwatch-img-desktop-1@1x.jpg 1x,
              ./img/newwatch-img-desktop-1@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/newwatch-img-tablet-1@1x.jpg 1x,
              ./img/newwatch-img-tablet-1@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/newwatch-img-mobile-1@1x.jpg 1x,
              ./img/newwatch-img-mobile-1@2x.jpg 2x
            "
            media="(max-width: 768px)"
          />
          <img src="./img/newwatch-img-mobile-1@1x.jpg" alt="Watch on hand" />
        </picture>
      </li>
      <li>
        <picture>
          <source
            srcset="
              ./img/newwatch-img-desktop-2@1x.jpg 1x,
              ./img/newwatch-img-desktop-2@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/newwatch-img-tablet-2@1x.jpg 1x,
              ./img/newwatch-img-tablet-2@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/newwatch-img-mobile-2@1x.jpg 1x,
              ./img/newwatch-img-mobile-2@2x.jpg 2x
            "
            media="(max-width: 768px)"
          />
          <img src="./img/newwatch-img-mobile-2@1x.jpg" alt="Watch" />
        </picture>
      </li>
    </ul>
  </div>
</section>
