<section class="sale-section sale-container">
    <h2 class="sale-section-title">Sale</h2>
    <div class="sale-gallery-wrap">
        <ul class="sale-gallery-list">
            <li class="sale-gallery-item">
                <picture>
                    <source srcset="../img/sale1-desk.png 1x, ../img/sale1-desk@2x.png 2x" media="min-width: 1280px">
                    <source srcset="../img/sale1-tab.png 1x, ../img/sale1-tab@2x.png 2x" media="min-width: 768px">
                    <source srcset="../img/sale1-mob.png 1x, ../img/sale1-@2x.png 2x" media="min-width: 375px">
                    <img class="sale-photo1" src="../img/sale1-desk.png" alt="Watch">
                </picture>
            </li>
            <li class="sale-gallery-item">
                <picture>
                    <source srcset="../img/sale2.jpg 1x, ../img/sale2@2x.jpg 2x" media="min-width: 768px">
                    <source srcset="../img/sale2-mob.jpg 1x, ../img/sale2-mob@2x.jpg 2x" media="min-width: 375px">
                    <img class="sale-photo" src="../img/sale2.jpg" alt="Watch">
                </picture>
            </li>
            <li class="sale-gallery-item">
                <picture>
                    <source srcset="../img/sale3.jpg 1x, ../img/sale3@2x.jpg 2x" media="min-width: 768px">
                    <source srcset="../img/sale3-mob.jpg 1x, ../img/sale3-mob@2x.jpg 2x" media="min-width: 375px">
                    <img class="sale-photo" src="../img/sale3.jpg" alt="Watch">
                </picture>
            </li>
            <li class="sale-gallery-item">
                <picture>
                    <source srcset="../img/sale4.jpg 1x, ../img/sale4@2x.jpg 2x" media="min-width: 768px">
                    <source srcset="../img/sale4-mob.jpg 1x, ../img/sale4-mob@2x.jpg 2x" media="min-width: 375px">
                    <img class="sale-photo" src="../img/sale4.jpg" alt="Watch">
                </picture>
            </li>

        </ul>

       
         <div class="sale-big-photo-wrap">
            <picture >
                <source srcset="../img/sale-big.jpg 1x, ../img/sale-big@2x.jpg 2x" media="(min-width: 768px)">
                <source srcset="../img/sale-big-mob.jpg 1x, ../img/sale-big-mob@2x.jpg 2x" media="min-width: 375px">
                <img class="sale-big-photo" src="../img/sale-big.jpg" alt="Watch">
            </picture>
         </div>
    
    </div>

    <div class="sale-discription">
        <h3 class="sale-discription-title">Greenlane Watch By Police For MenHT</h3>
        <p class="sale-product-tag">Product tag: PEWJK2227003</p>
         <p class="sale-price">
             <ins class="sale-new-price">€700</ins>
            <del class="sale-old-price">€1000</del>
        </p> 
        
        <h4 class="sale-discription-subtitle">Description</h4>
        <p class="sale-discription-text">Richly detailed with an understated design - the Police Men’s Greenlane watch features a versatile
            multifunction design that fits effortlessly into work and play. The steel case is adorned with a
            semi-transparent black dial. The timepiece exhibits a contrast through a black IP bracelet with matching
            crown and pushers.</p>
        <h4 class="sale-discription-subtitle">DETAILS &amp; FEATURESTION</h4>
        <ul class="sale-feature-list ">
            <li class="sale-feature ">Gender: man</li>
            <li class="sale-feature ">Size: 46x54.5mm</li>
            <li class="sale-feature ">Case Colour: Steel</li>
            <li class="sale-feature ">Band Material: Metal</li>
            <li class="sale-feature ">Case Material: Metal</li>
            <li class="sale-feature ">Features: Multifunction</li>
            <li class="sale-feature ">Water Resistant: 5 (ATM)</li>
            <li class="sale-feature "> Band Colour: Steel</li>
        </ul>

    </div>

</section>